<ul class="ui-list ui-list-pure ui-list-link ui-border-tb  <% if(historyList.length==0){ %>hide<% } %> ">
  <% for(var i=0,ilen=historyList.length;i<ilen;i++){ %>
  <% for(var j=0,jlen=historyList[i].list.length;j<jlen;j++){ 
    var item = historyList[i].list[j] %>
  <li class="ui-border-t" data-id="<%=item.OrderNo%>">
    <h4 class="pay-list-info"><%=item.typeValue%><span class="pay-list-fr"><%=item.Amount/100%></span></h4>
    <p><%=item.CreatedBy%><span class="pay-list-fr"><%=item.CreatedOn.replace('T',' ')%></span></p>
  </li>
  <% } %>
  <% } %>
</ul>


<div class="no-bill-message  <% if(historyList.length>0){ %>hide<% } %>">
  <i class="ui-icon-info" style="color:#bbb"></i>
  <span>暂未查询到缴费清单</span>
</div>
