<div class="ui-form ui-border-t">
  <div class="ui-form-item ui-border-b">
    <label>生活区:</label>
    <div class="ui-select">
      <select class="livearealist-select">
        <% if(!userFlatModel || !userFlatModel.AreaId){ %>
        <option value="0" selected >请选择生活区</option>
        <% } %>
        <% for(var i=0,ilen=flatList.length;i<ilen;i++){ %>
        <option value="<%= flatList[i].AreaId %>" 
        <% if(userFlatModel && userFlatModel.AreaId && flatList[i].AreaId==userFlatModel.AreaId){ %> selected <% } %> >
        <%= flatList[i].AreaName %>
        </option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>楼&nbsp;&nbsp; &nbsp;栋:</label>
    <div class="ui-select">
      <select class="ban-select">
        <% if(!userFlatModel || !userFlatModel.FlatId){ %>
        <option value="0" selected >请选择楼栋</option>
        <% } %>
        <% for(var i=0,ilen=flatList.length;i<ilen;i++){ %>
        <% if(flatList[i].AreaId==userFlatModel.AreaId){ %>
        <% for(var j=0,jlen=flatList[i].Flats.length;j<jlen;j++){ %>
        <option value="<%= flatList[i].Flats[j].FlatId %>" data-paymode='<%= flatList[i].Flats[j].PayMode %>' 
        <% if(userFlatModel && userFlatModel.FlatId && flatList[i].Flats[j].FlatId==userFlatModel.FlatId){ %> selected <% } %> >
        <%= flatList[i].Flats[j].FlatName %>
        </option>
        <% } %>
        <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>寝&nbsp;&nbsp; &nbsp;室:</label>
    <input id="room" type="text" placeholder="请输入寝室号" value="<% if(userFlatModel && userFlatModel.RoomId){ %><%=userFlatModel.RoomId %><% } %>" >
    <a href="#" class="ui-icon-close"></a>
  </div>
</div>

<div class="pay-panel">
  <div class="pay-select">
    <div class="ui-btn-select" data-number="50">50元</div>
    <div class="ui-btn-select" data-number="100">100元</div>
    <div class="ui-btn-select" data-number="200">200元</div>
    <div class="ui-btn-select">其他</div>
  </div>
  <div class="ui-form ui-border-t pay-other hide">
    <div class="ui-form-item ui-border-b">
      <label>金&nbsp;&nbsp; &nbsp;额</label>
      <input id="pay-num" type="text" placeholder="请输入金额">
      <a href="#" class="ui-icon-close"></a>
    </div>
  </div>
</div>

<div class="btn-div">
  <button class="ui-btn-big charge-btn">确认充值</button>
</div>

<div class="ui-tips ui-tips-info">
  <i style="font-size:.9em"></i><span style="font-size:.9em">充值处理时间周一至周五 9:00-5:00</span>
</div>