<div id="billHistoryDetailDom">
  <% var Item=unPayedBillHistoryList %>
  <div class="detail-panel ui-border-b">
    <div class="detail-message"><%=Item.BStatus%></div>
    <div class="detail-number"><%=Item.TotalAmount%></div>
    <div class="detail-tip"><%=Item.BillPeroid + ' ' + userFlatModel.AreaName+' '+userFlatModel.FlatName+' '+userFlatModel.RoomId + ' ' + Item.BillType%></div>
  </div>
  <div class="section-pay-list">
    <table class="ui-table ui-border-tb" style="width:100%;">
      <thead>
        <tr>
          <th>缴费项目</th>
          <th>起</th>
          <th>止</th>
          <th>读数</th>
          <th>单价</th>
          <th width="100">金额</th>
        </tr>
      </thead>
      <tbody>
        
        <% if(Item && Item.Details){var items = Item.Details; %>
        <%for(var i = 0; i < items.length; i++) { %>
        <tr>
          <td><%=items[i].BillItem + '(' + items[i].Unit + ')' %></td>
          <td><%=items[i].QStart%></td>
          <td><%=items[i].QEnd%></td>
          <td><%=items[i].Quantity %></td>
          <td><%=items[i].UnitPrice%></td>
          <td><%=items[i].Amount%></td>
        </tr>
        <%}}%>
      </tbody>
    </table>
    <br>
    <table class="ui-table ui-border-tb" style="width:100%;">
      <thead>
        <tr>
          <th>缴费时间</th>
          <th>缴费人</th>
          <th width="100">金额</th>
        </tr>
      </thead>
      <tbody>
        
        <%if(Item && Item.Payments){var total = 0;
        for(var i = 0; i < Item.Payments.length; i++){
        var item = Item.Payments[i];%>
        <tr>
          <td><%=item.PayedDate%></td>
          <td><%=item.PayedBy%></td>
          <td><%=item.PayedAmount%></td>
        </tr>
        <%total = total + item.PayedAmount;}%>
        <tr>
          <td colspan="2">总计</td>
          <td><%=Math.round(total*100)/100 %></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>