<div class="ui-form ui-border-t">
  <div class="ui-form-item ui-border-b">
    <label>生活区:</label>
    <div class="ui-select">
      <select class="livearealist-select">
        <% if(!userFlatModel || !userFlatModel.AreaId){ %>
        <option value="0" selected >请选择生活区</option>
        <% } %>
        <% for(var i=0,ilen=flatList.length;i<ilen;i++){ %>
        <option value="<%= flatList[i].AreaId %>" 
        <% if(userFlatModel && userFlatModel.AreaId && flatList[i].AreaId==userFlatModel.AreaId){ %> selected <% } %> >
        <%= flatList[i].AreaName %>
        </option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>楼&nbsp;&nbsp; &nbsp;栋:</label>
    <div class="ui-select">
      <select class="ban-select">
        <% if(!userFlatModel || !userFlatModel.FlatId){ %>
        <option value="0" selected >请选择楼栋</option>
        <% } %>
        <% for(var i=0,ilen=flatList.length;i<ilen;i++){ %>
        <% if(flatList[i].AreaId==userFlatModel.AreaId){ %>
        <% for(var j=0,jlen=flatList[i].Flats.length;j<jlen;j++){ %>
        <option value="<%= flatList[i].Flats[j].FlatId %>" data-paymode='<%= flatList[i].Flats[j].PayMode %>' 
        <% if(userFlatModel && userFlatModel.FlatId && flatList[i].Flats[j].FlatId==userFlatModel.FlatId){ %> selected <% } %> >
        <%= flatList[i].Flats[j].FlatName %>
        </option>
        <% } %>
        <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>寝&nbsp;&nbsp; &nbsp;室:</label>
    <input id="room" type="text" placeholder="请输入寝室号" value="<% if(userFlatModel && userFlatModel.RoomId){ %><%=userFlatModel.RoomId %><% } %>" >
    <a href="#" class="ui-icon-close"></a>
  </div>
</div>

<div class="btn-div">
  <button class="ui-btn-big room-btn">确定</button>
</div>